

form {
    border-color:#354f52;
    border-style:double;
    border-width: 6px;
    border-radius: 2em;
    width: 500px;
    height: 350px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    padding-bottom: 20px;

}

label {
    display: flex;
    align-self: center;
    justify-content: left;
 
}

h3 {
    display: flex;
    justify-content:center;
    color:#354f52;
    font-size:36px;
    padding: 0;
}

label {
    display: flex;
    width: 300px;
    font-size: 22px;
    justify-content: center;
    display: inline-block;
    padding-bottom: 10px;
    
}

input {
    width: 300px;
    height: 40px;
    align-self: center;
    border-width: 2px;
    font-size: 16px;
    display: flex;
    margin-bottom: 15px;

}

button {
    width: 140px;
    height: 50px;
    align-self: center;
    margin: 20px;
}

.form-center {
    display: flex;
    justify-content: center;
}