
.navBar {
    display: flex;
    width: 100vw;
    margin-top:0;
    height: 70px;
    background-color: #52796f;
    color: white;
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    display: flex;
    float: left;
    color:tomato;
    justify-self: start;
}

.navBar nav ul li {
    display: inline;
    margin: 2.0vw;
    color: white;
}

.NavBar nav ul li a {
    text-decoration: none;
    color: white;

}

.navBar nav ul li a:hover {
    border-bottom: 3px solid tomato;
    transition-duration: 03.s;
}

a {
    text-decoration: none;
    color: white;
}


.navBar .navMobile {
    display: flex;
}

.hamburger {
    position: absolute;
    display: flex;
    color: white;
    right: 5%;
    display: none;
}

.closer {
    position: absolute;
    display: flex;
    color: white;
    right: 5%;
    display: none;
}


@media (max-width: 600px) {
    .navBar .nav {
        display: none;
    }

    .navBar .navMobile {
        display: flex;
        align-items: center;
    }

    .navBar .navMobile .hamburger {
        position: absolute;
        right: 5%;
        font-size: 40px;
        display: flex;
    }

    .navBar .navMobile .closer {
        position: absolute;
        display: flex;
        right: 5%;
        font-size: 34px;
    }

    .navBar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 70px;
        background-color:#52796f;
        width: 100%;
        border-top: 3px solid tomato;
        right: 0;
        margin-top: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        opacity: 92%;
    }

    .navBar nav ul li {
        display: flex;
        font-size: 28px;
    }

    .navBar nav ul li a:hover {
        color: tomato;
        opacity: 100%;
        border-bottom: none;
        font-size: 32px;
        font-weight: 300px;
        transition-duration: 0.3s;
    }
}




